.iconfont,
.layui-icon {
  margin-right: 8px;
}
.layui-icon {
  margin-left: 20px;
}
iframe {
  width: 100%;
  height: 100%;
  background-color: #f3f4f5;
}
.layui-body {
  overflow: hidden;
}
.text_avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #009688;
  text-align: center;
  line-height: 40px;
  margin-right: 8px;
}
.userinfo {
  width: 200px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #000;
}
.layui-nav-img {
  width: 40px;
  height: 40px;
  display: none;
}
